{% extends 'converter/base.html' %}

{% block content %}

<h1>Login</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
        <div id="login-form">
            <div class="form-group">
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}

                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
                    {% endfor %}
                    <p><button type="submit" class="login-button">Enter</button></p>
                </form>
                    <div class="register-link">
                        Don't have an account? <a href="{% url 'users:register' %}">Register</a>
                    </div>
                </div>

        </div>
    </div>
</body>
</html>




{% endblock %}


